@{
    ViewBag.Title = "Home Page";
}

<h1>Users List</h1>

<table>
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                Name
            </th>
            <th>
                Date of Birth
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.ActionLink("1", "Details", new { id = 1 })
            </td>
            <td>
                Phyllis Johnson
            </td>
            <td>
                8/19/1955
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("4", "Details", new { id = 4 })
            </td>
            <td>
                Mark Islington
            </td>
            <td>
                10/1/1991
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("7", "Details", new { id = 7 })
            </td>
            <td>
                Teresa Beck
            </td>
            <td>
                2/28/1982
            </td>
        </tr>
    </tbody>
</table>